In [3]:
!pip install mysql-connector-python
import mysql.connector
import random
from datetime import datetime, timedelta

# ---------- DB Connection ----------
con = mysql.connector.connect(
    host="127.0.0.1", user="root", password="", database="smartshow_db", port=3306
)
cursor = con.cursor()
print("‚úÖ Connected to MySQL")

# ---------- Validation ----------
def valid_email(email):
    return email.endswith("@gmail.com")

def valid_password(pw):
    return any(c.isupper() for c in pw) and any(c.islower() for c in pw) and "@" in pw

def generate_otp():
    return str(random.randint(100000, 999999))

# ---------- Register ----------
def register_user():
    name = input("Enter name: ")
    email = input("Enter email: ")
    if not valid_email(email):
        print("‚ùå Email must be @gmail.com")
        return

    # ‚úÖ Check unique email
    cursor.execute("SELECT email FROM users WHERE email=%s", (email,))
    if cursor.fetchone():
        print("‚ùå Email already exists!")
        return

    pw = input("Enter password: ")
    if not valid_password(pw):
        print("‚ùå Password must have 1 uppercase, 1 lowercase & 1 '@'")
        return

    # ‚úÖ Check unique password
    cursor.execute("SELECT password FROM users WHERE password=%s", (pw,))
    if cursor.fetchone():
        print("‚ùå Password already used! Choose another")
        return

    otp = generate_otp()
    expiry = datetime.now() + timedelta(minutes=2)

    # ‚úÖ Insert without specifying ID (auto-increment line-wise)
    cursor.execute(
        "INSERT INTO users (name,email,password,otp,otp_expiry) VALUES (%s,%s,%s,%s,%s)",
        (name,email,pw,otp,expiry)
    )
    con.commit()
    print(f"üîê Your OTP: {otp} (valid 2 min)")

    user_otp = input("Enter OTP: ")
    if user_otp != otp:
        print("‚ùå Invalid OTP")
        return

    # Clear OTP
    cursor.execute("UPDATE users SET otp=NULL,otp_expiry=NULL WHERE email=%s",(email,))
    con.commit()
    print("‚úÖ Registered successfully")

# ---------- Login ----------
def login_user():
    email = input("Enter email: ")
    pw = input("Enter password: ")
    cursor.execute("SELECT * FROM users WHERE email=%s AND password=%s",(email,pw))
    if cursor.fetchone():
        print("‚úÖ Login successful")
        return True
    print("‚ùå Invalid email or password")
    return False

# ---------- Main ----------
while True:
    print("\n1. Register  2. Login  3. Exit")
    choice = input("Choose option: ")

    if choice=="1":
        register_user()
    elif choice=="2":
        login_user()
    elif choice=="3":
        print("üëã Goodbye")
        break
    else:
        print("‚ùå Invalid choice")

Requirement already satisfied: mysql-connector-python in c:\users\devan\appdata\local\programs\python\python314\lib\site-packages (9.5.0)
‚úÖ Connected to MySQL

1. Register  2. Login  3. Exit

Choose option:  1
Enter name:  fwf
Enter email:  fw

‚ùå Email must be @gmail.com

1. Register  2. Login  3. Exit

Choose option:  2
Enter email:  @gmail.com
Enter password:  aC@

‚úÖ Login successful

1. Register  2. Login  3. Exit

KeyboardInterrupt: Interrupted by user

In [1]:
import sqlite3
import mysql.connector
import random

# ---------------------------------
# MySQL Connection (Theatres)
# ---------------------------------
mysql_conn = mysql.connector.connect(
    host="127.0.0.1",
    user="root",
    password="",
    database="smartshow_db",
    port=3306
)
mysql_cursor = mysql_conn.cursor()

# ---------------------------------
# Theater Class
# ---------------------------------
class Theater:
    def __init__(self, theater_id, name, area, city, theater_type, total_screens):
        self.theater_id = theater_id
        self.name = name
        self.area = area
        self.city = city
        self.theater_type = theater_type
        self.total_screens = total_screens

    def show_details(self):
        print("\n--- Theatre Details ---")
        print(f"ID      : {self.theater_id}")
        print(f"Name    : {self.name}")
        print(f"Area    : {self.area}")
        print(f"City    : {self.city}")
        print(f"Type    : {self.theater_type}")
        print(f"Screens : {self.total_screens}")

# ---------------------------------
# Show First 20 Theatres (ONCE)
# ---------------------------------
print("\n========== ALL THEATRES (FIRST 20) ==========")

mysql_cursor.execute("SELECT * FROM theatres LIMIT 20")
all_rows = mysql_cursor.fetchall()

all_theaters = [Theater(*row) for row in all_rows]
for t in all_theaters:
    t.show_details()

# ---------------------------------
# Movie Class
# ---------------------------------
class Movie:
    def __init__(self):
        self.conn = sqlite3.connect("movies")
        self.cursor = self.conn.cursor()
        self.movie_theatre_map = {}  # movie_id ‚Üí fixed 5 theatres

    def movies(self):

        while True:

            print("\nChoose Your Mood")
            print("1. Romantic")
            print("2. Relaxed")
            print("3. Excited")
            print("4. Family")
            print("5. Exit")

            mood_map = {
                "1": "Romantic",
                "2": "Relaxed",
                "3": "Excited",
                "4": "Family"
            }

            choice = input("Enter choice: ")

            if choice == "0":
                print("\nüëã Thank you for using SmartShow!")
                break

            mood = mood_map.get(choice)
            if not mood:
                print("‚ùå Invalid choice, try again.")
                continue

            # ---------------------------------
            # Fetch 10 Movies of Mood
            # ---------------------------------
            self.cursor.execute(
                "SELECT id, movie_name FROM movies WHERE mood = ? LIMIT 10",
                (mood,)
            )
            movies = self.cursor.fetchall()

            if not movies:
                print("‚ùå No movies found")
                continue

            print("\nüé¨ Movies List:")
            allowed_movie_ids = []

            for m in movies:
                print(f"{m[0]}. {m[1]}")
                allowed_movie_ids.append(str(m[0]))

            movie_id = input("\nSelect Movie ID: ")

            # ‚úÖ Movie ID validation
            if movie_id not in allowed_movie_ids:
                print("‚ùå Invalid Movie ID for selected mood!")
                continue

            # ---------------------------------
            # FIXED 5 THEATRES PER MOVIE
            # ---------------------------------
            if movie_id not in self.movie_theatre_map:
                mysql_cursor.execute("SELECT theater_id FROM theatres")
                all_ids = [row[0] for row in mysql_cursor.fetchall()]
                self.movie_theatre_map[movie_id] = random.sample(all_ids, 5)

            fixed_ids = self.movie_theatre_map[movie_id]

            format_ids = ",".join(map(str, fixed_ids))
            mysql_cursor.execute(
                f"SELECT * FROM theatres WHERE theater_id IN ({format_ids})"
            )
            rows = mysql_cursor.fetchall()

            print("\nüé≠ Theatres Showing This Movie:")
            theaters = [Theater(*row) for row in rows]

            for t in theaters:
                print(f"{t.theater_id}. {t.name} ({t.city})")

            # ---------------------------------
            # Theatre ID Selection with validation
            # ---------------------------------
            while True:
                tid = input("\nEnter Theatre ID to view details: ")
                if tid not in [str(tid_) for tid_ in fixed_ids]:
                    print("‚ùå Invalid Theatre ID for this movie! Please re-enter.")
                    continue
                else:
                    break

            mysql_cursor.execute(
                "SELECT * FROM theatres WHERE theater_id = %s",
                (tid,)
            )
            result = mysql_cursor.fetchone()

            if result:
                theater = Theater(*result)
                theater.show_details()
            else:
                print("‚ùå Theatre details not found!")

# ---------------------------------
# Run Program
# ---------------------------------
obj = Movie()
obj.movies()

# ---------------------------------
# Close Connections
# ---------------------------------
mysql_cursor.close()
mysql_conn.close()

========== ALL THEATRES (FIRST 20) ==========

--- Theatre Details ---
ID      : 1
Name    : PVR Acropolis
Area    : Thaltej
City    : Ahmedabad
Type    : Multiplex
Screens : 5

--- Theatre Details ---
ID      : 2
Name    : INOX AlphaOne
Area    : Vastrapur
City    : Ahmedabad
Type    : Multiplex
Screens : 4

--- Theatre Details ---
ID      : 3
Name    : City Gold Ashram
Area    : Ashram Road
City    : Ahmedabad
Type    : Multiplex
Screens : 3

--- Theatre Details ---
ID      : 4
Name    : Rajhans Cinema
Area    : Naranpura
City    : Ahmedabad
Type    : Multiplex
Screens : 4

--- Theatre Details ---
ID      : 5
Name    : Drive In Cinema
Area    : Drive In Road
City    : Ahmedabad
Type    : Single Screen
Screens : 2

--- Theatre Details ---
ID      : 6
Name    : Wide Angle
Area    : Prahlad Nagar
City    : Ahmedabad
Type    : Multiplex
Screens : 4

--- Theatre Details ---
ID      : 7
Name    : Miraj Cinemas
Area    : Naroda
City    : Ahmedabad
Type    : Multiplex
Screens : 3

--- Theatre Details ---
ID      : 8
Name    : PVR Motera
Area    : Motera
City    : Ahmedabad
Type    : Multiplex
Screens : 4

--- Theatre Details ---
ID      : 9
Name    : INOX Himalaya
Area    : Drive In Road
City    : Ahmedabad
Type    : Multiplex
Screens : 3

--- Theatre Details ---
ID      : 10
Name    : City Gold Bapunagar
Area    : Bapunagar
City    : Ahmedabad
Type    : Single Screen
Screens : 1

--- Theatre Details ---
ID      : 11
Name    : Mukta A2
Area    : Ghatlodia
City    : Ahmedabad
Type    : Single Screen
Screens : 2

--- Theatre Details ---
ID      : 12
Name    : Cinepolis One Mall
Area    : Satellite
City    : Ahmedabad
Type    : Multiplex
Screens : 5

--- Theatre Details ---
ID      : 13
Name    : Rajpath Cinema
Area    : SG Highway
City    : Ahmedabad
Type    : Multiplex
Screens : 4

--- Theatre Details ---
ID      : 14
Name    : Fun Cinemas
Area    : Maninagar
City    : Ahmedabad
Type    : Multiplex
Screens : 3

--- Theatre Details ---
ID      : 15
Name    : Karnavati Cinema
Area    : Vejalpur
City    : Ahmedabad
Type    : Single Screen
Screens : 1

--- Theatre Details ---
ID      : 16
Name    : Shiv Cinema
Area    : Odhav
City    : Ahmedabad
Type    : Single Screen
Screens : 1

--- Theatre Details ---
ID      : 17
Name    : Galaxy Cinema
Area    : Isanpur
City    : Ahmedabad
Type    : Single Screen
Screens : 1

--- Theatre Details ---
ID      : 18
Name    : City Pulse
Area    : Gandhinagar Highway
City    : Ahmedabad
Type    : Multiplex
Screens : 4

--- Theatre Details ---
ID      : 19
Name    : PVR Ranip
Area    : Ranip
City    : Ahmedabad
Type    : Multiplex
Screens : 3

--- Theatre Details ---
ID      : 20
Name    : INOX CG Road
Area    : CG Road
City    : Ahmedabad
Type    : Multiplex
Screens : 4

Choose Your Mood
1. Romantic
2. Relaxed
3. Excited
4. Family
0. Exit

Enter choice:  1

üé¨ Movies List:
1. True Love
2. Forever Yours
3. Heart Beat
4. Love Story
5. Romance Night
6. Sweet Memories
7. Love Birds
8. Soul Mate
9. Endless Love
10. My Valentine

Select Movie ID:  11

‚ùå Invalid Movie ID for selected mood!

Choose Your Mood
1. Romantic
2. Relaxed
3. Excited
4. Family
0. Exit

Enter choice:  1

üé¨ Movies List:
1. True Love
2. Forever Yours
3. Heart Beat
4. Love Story
5. Romance Night
6. Sweet Memories
7. Love Birds
8. Soul Mate
9. Endless Love
10. My Valentine

Select Movie ID:  1

üé≠ Theatres Showing This Movie:
2. INOX AlphaOne (Ahmedabad)
5. Drive In Cinema (Ahmedabad)
14. Fun Cinemas (Ahmedabad)
15. Karnavati Cinema (Ahmedabad)
20. INOX CG Road (Ahmedabad)

Enter Theatre ID to view details:  1

‚ùå Invalid Theatre ID for this movie! Please re-enter.

Enter Theatre ID to view details:  3

‚ùå Invalid Theatre ID for this movie! Please re-enter.

Enter Theatre ID to view details:  2

--- Theatre Details ---
ID      : 2
Name    : INOX AlphaOne
Area    : Vastrapur
City    : Ahmedabad
Type    : Multiplex
Screens : 4

Choose Your Mood
1. Romantic
2. Relaxed
3. Excited
4. Family
0. Exit

Enter choice:  0

üëã Thank you for using SmartShow!

In [ ]:
!pip install mysql-connector-python
import mysql.connector
import sqlite3
import random
from datetime import datetime, timedelta

# ---------- MySQL DB Connection ----------
mysql_conn = mysql.connector.connect(
    host="127.0.0.1", user="root", password="", database="smartshow_db", port=3306
)
mysql_cursor = mysql_conn.cursor()
print("‚úÖ Connected to MySQL")

# ---------- SQLite Connection (Movies) ----------
sqlite_conn = sqlite3.connect("movies")
sqlite_cursor = sqlite_conn.cursor()

# ---------- Validation ----------
def valid_email(email):
    return email.endswith("@gmail.com")

def valid_password(pw):
    return any(c.isupper() for c in pw) and any(c.islower() for c in pw) and "@" in pw

def generate_otp():
    return str(random.randint(100000, 999999))

# ---------- Register ----------
def register_user():
    name = input("Enter name: ")
    email = input("Enter email: ")
    if not valid_email(email):
        print("‚ùå Email must be @gmail.com"); return False

    mysql_cursor.execute("SELECT email FROM users WHERE email=%s", (email,))
    if mysql_cursor.fetchone():
        print("‚ùå Email already exists!"); return False

    pw = input("Enter password: ")
    if not valid_password(pw):
        print("‚ùå Password must have 1 uppercase, 1 lowercase & 1 '@'"); return False

    mysql_cursor.execute("SELECT password FROM users WHERE password=%s", (pw,))
    if mysql_cursor.fetchone():
        print("‚ùå Password already used! Choose another"); return False

    otp = generate_otp()
    expiry = datetime.now() + timedelta(minutes=2)

    mysql_cursor.execute(
        "INSERT INTO users (name,email,password,otp,otp_expiry) VALUES (%s,%s,%s,%s,%s)",
        (name,email,pw,otp,expiry)
    )
    mysql_conn.commit()
    print(f"üîê Your OTP: {otp} (valid 2 min)")

    user_otp = input("Enter OTP: ")
    if user_otp != otp:
        print("‚ùå Invalid OTP"); return False

    mysql_cursor.execute("UPDATE users SET otp=NULL,otp_expiry=NULL WHERE email=%s",(email,))
    mysql_conn.commit()
    print("‚úÖ Registered successfully")
    return True

# ---------- Login ----------
def login_user():
    email = input("Enter email: ")
    pw = input("Enter password: ")
    mysql_cursor.execute("SELECT * FROM users WHERE email=%s AND password=%s",(email,pw))
    if mysql_cursor.fetchone():
        print("‚úÖ Login successful"); return True
    print("‚ùå Invalid email or password"); return False

# ---------- Theater Class ----------
class Theater:
    def __init__(self, theater_id, name, area, city, theater_type, total_screens):
        self.theater_id = theater_id
        self.name = name
        self.area = area
        self.city = city
        self.theater_type = theater_type
        self.total_screens = total_screens

    def show_details(self):
        print("\n--- Theatre Details ---")
        print(f"ID      : {self.theater_id}")
        print(f"Name    : {self.name}")
        print(f"Area    : {self.area}")
        print(f"City    : {self.city}")
        print(f"Type    : {self.theater_type}")
        print(f"Screens : {self.total_screens}")

# ---------- Show First 20 Theatres ----------
def show_first_20_theatres():
    print("\n========== ALL THEATRES (FIRST 20) ==========")
    mysql_cursor.execute("SELECT * FROM theatres LIMIT 20")
    rows = mysql_cursor.fetchall()
    for row in rows:
        t = Theater(*row)
        t.show_details()

# ---------- Movie Class ----------
class Movie:
    def __init__(self):
        self.movie_theatre_map = {}  # movie_id ‚Üí fixed 5 theatres

    def movies(self):
        while True:
            print("\nChoose Your Mood")
            print("1. Romantic  2. Relaxed  3. Excited  4. Family  0. Exit")
            mood_map = {"1":"Romantic","2":"Relaxed","3":"Excited","4":"Family"}
            choice = input("Enter choice: ")

            if choice=="0":
                print("üëã Thank you for using SmartShow!"); break

            mood = mood_map.get(choice)
            if not mood:
                print("‚ùå Invalid choice, try again."); continue

            # Fetch 10 movies for selected mood
            sqlite_cursor.execute("SELECT id,movie_name FROM movies WHERE mood=? LIMIT 10",(mood,))
            movies = sqlite_cursor.fetchall()
            if not movies:
                print("‚ùå No movies found"); continue

            print("\nüé¨ Movies List:")
            allowed_movie_ids = []
            for m in movies:
                print(f"{m[0]}. {m[1]}")
                allowed_movie_ids.append(str(m[0]))

            movie_id = input("\nSelect Movie ID: ")
            if movie_id not in allowed_movie_ids:
                print("‚ùå Invalid Movie ID for this mood!"); continue

            # Assign 5 fixed theaters for movie
            if movie_id not in self.movie_theatre_map:
                mysql_cursor.execute("SELECT theater_id FROM theatres")
                all_ids = [row[0] for row in mysql_cursor.fetchall()]
                self.movie_theatre_map[movie_id] = random.sample(all_ids,5)

            fixed_ids = self.movie_theatre_map[movie_id]

            mysql_cursor.execute(
                f"SELECT * FROM theatres WHERE theater_id IN ({','.join(map(str,fixed_ids))})"
            )
            rows = mysql_cursor.fetchall()
            print("\nüé≠ Theatres Showing This Movie:")
            theaters = [Theater(*r) for r in rows]
            for t in theaters:
                print(f"{t.theater_id}. {t.name} ({t.city})")

            # Theatre selection with validation
            while True:
                tid = input("Enter Theatre ID to view details: ")
                if tid not in [str(i) for i in fixed_ids]:
                    print("‚ùå Invalid Theatre ID for this movie! Re-enter."); continue
                break

            mysql_cursor.execute("SELECT * FROM theatres WHERE theater_id=%s",(tid,))
            res = mysql_cursor.fetchone()
            if res:
                t = Theater(*res)
                t.show_details()
            else:
                print("‚ùå Theatre details not found!")

# ---------- Main Program ----------
print("====================================================================")
print("        Welcome To Our SmartShow! Enjoy Your Day üé¨              ")
print("====================================================================")

# Register/Login once
while True:
    print("\n1. Register  2. Login")
    choice = input("Choose option: ")
    success = False
    if choice=="1":
        success = register_user()
    elif choice=="2":
        success = login_user()
    else:
        print("‚ùå Invalid choice"); continue

    if success:
        break

# Show first 20 theatres and start movie selection
show_first_20_theatres()
obj = Movie()
obj.movies()

# Close DB connections
sqlite_cursor.close()
sqlite_conn.close()
mysql_cursor.close()
mysql_conn.close()

Requirement already satisfied: mysql-connector-python in c:\users\devan\appdata\local\programs\python\python314\lib\site-packages (9.5.0)
‚úÖ Connected to MySQL
====================================================================
        Welcome To Our SmartShow! Enjoy Your Day üé¨
====================================================================

1. Register  2. Login

Choose option:  1
Enter name:  devansh patel
Enter email:  qA@gmail.com
Enter password:  werA@

üîê Your OTP: 452799 (valid 2 min)

Enter OTP:  452799

‚úÖ Registered successfully

========== ALL THEATRES (FIRST 20) ==========

--- Theatre Details ---
ID      : 1
Name    : PVR Acropolis
Area    : Thaltej
City    : Ahmedabad
Type    : Multiplex
Screens : 5

--- Theatre Details ---
ID      : 2
Name    : INOX AlphaOne
Area    : Vastrapur
City    : Ahmedabad
Type    : Multiplex
Screens : 4

--- Theatre Details ---
ID      : 3
Name    : City Gold Ashram
Area    : Ashram Road
City    : Ahmedabad
Type    : Multiplex
Screens : 3

--- Theatre Details ---
ID      : 4
Name    : Rajhans Cinema
Area    : Naranpura
City    : Ahmedabad
Type    : Multiplex
Screens : 4

--- Theatre Details ---
ID      : 5
Name    : Drive In Cinema
Area    : Drive In Road
City    : Ahmedabad
Type    : Single Screen
Screens : 2

--- Theatre Details ---
ID      : 6
Name    : Wide Angle
Area    : Prahlad Nagar
City    : Ahmedabad
Type    : Multiplex
Screens : 4

--- Theatre Details ---
ID      : 7
Name    : Miraj Cinemas
Area    : Naroda
City    : Ahmedabad
Type    : Multiplex
Screens : 3

--- Theatre Details ---
ID      : 8
Name    : PVR Motera
Area    : Motera
City    : Ahmedabad
Type    : Multiplex
Screens : 4

--- Theatre Details ---
ID      : 9
Name    : INOX Himalaya
Area    : Drive In Road
City    : Ahmedabad
Type    : Multiplex
Screens : 3

--- Theatre Details ---
ID      : 10
Name    : City Gold Bapunagar
Area    : Bapunagar
City    : Ahmedabad
Type    : Single Screen
Screens : 1

--- Theatre Details ---
ID      : 11
Name    : Mukta A2
Area    : Ghatlodia
City    : Ahmedabad
Type    : Single Screen
Screens : 2

--- Theatre Details ---
ID      : 12
Name    : Cinepolis One Mall
Area    : Satellite
City    : Ahmedabad
Type    : Multiplex
Screens : 5

--- Theatre Details ---
ID      : 13
Name    : Rajpath Cinema
Area    : SG Highway
City    : Ahmedabad
Type    : Multiplex
Screens : 4

--- Theatre Details ---
ID      : 14
Name    : Fun Cinemas
Area    : Maninagar
City    : Ahmedabad
Type    : Multiplex
Screens : 3

--- Theatre Details ---
ID      : 15
Name    : Karnavati Cinema
Area    : Vejalpur
City    : Ahmedabad
Type    : Single Screen
Screens : 1

--- Theatre Details ---
ID      : 16
Name    : Shiv Cinema
Area    : Odhav
City    : Ahmedabad
Type    : Single Screen
Screens : 1

--- Theatre Details ---
ID      : 17
Name    : Galaxy Cinema
Area    : Isanpur
City    : Ahmedabad
Type    : Single Screen
Screens : 1

--- Theatre Details ---
ID      : 18
Name    : City Pulse
Area    : Gandhinagar Highway
City    : Ahmedabad
Type    : Multiplex
Screens : 4

--- Theatre Details ---
ID      : 19
Name    : PVR Ranip
Area    : Ranip
City    : Ahmedabad
Type    : Multiplex
Screens : 3

--- Theatre Details ---
ID      : 20
Name    : INOX CG Road
Area    : CG Road
City    : Ahmedabad
Type    : Multiplex
Screens : 4

Choose Your Mood
1. Romantic  2. Relaxed  3. Excited  4. Family  0. Exit

Enter choice:  1

üé¨ Movies List:
1. True Love
2. Forever Yours
3. Heart Beat
4. Love Story
5. Romance Night
6. Sweet Memories
7. Love Birds
8. Soul Mate
9. Endless Love
10. My Valentine

Select Movie ID:  1

üé≠ Theatres Showing This Movie:
3. City Gold Ashram (Ahmedabad)
4. Rajhans Cinema (Ahmedabad)
5. Drive In Cinema (Ahmedabad)
7. Miraj Cinemas (Ahmedabad)
17. Galaxy Cinema (Ahmedabad)

Enter Theatre ID to view details:  1

‚ùå Invalid Theatre ID for this movie! Re-enter.

Enter Theatre ID to view details:  2

‚ùå Invalid Theatre ID for this movie! Re-enter.

Enter Theatre ID to view details:  3

--- Theatre Details ---
ID      : 3
Name    : City Gold Ashram
Area    : Ashram Road
City    : Ahmedabad
Type    : Multiplex
Screens : 3

Choose Your Mood
1. Romantic  2. Relaxed  3. Excited  4. Family  0. Exit